* {
    padding: 0;
    margin: 0;
}

.container {
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* .item {
    border: 1px solid blue;
} */

/* .item:hover {
    border: 1px solid red;
} */